.header {
	background-color: black;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 90dvw;
}

.headerName {
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
}

.navLink {
	color: rgb(147, 162, 228);
}

.active {
	text-decoration: underline;
	font-weight: bold;
	color: lightblue;
}

.mainNav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
}

.signoutButton {
	color: white;
	background-color: rgb(63, 63, 63);
}

.homeLinkContainer {
	display: flex;
	justify-content: space-evenly;
}

.homeLink {
	background-color: black;
	padding: 20px 30px;
	border-radius: 10px;
	color: lightgray;
	transition: all 0.2s;
}

.homeLink h2,
.homeLink p {
	margin: 5px;
}
