.postsLayoutHeader {
	width: 100%;
	display: flex;
	align-items: center;
}
.postsLayoutHeader input[type='search'] {
	width: 35%;
	margin: auto;
	height: 44px;
}

.title {
	font-size: 48px;
	font-weight: 700;
	color: rgb(185, 253, 255);
	margin-left: 24px;
}

.buttons {
	display: flex;
	text-align: center;
	gap: 12px;
}
.NewPostButton {
	width: 54px;
	height: 54px;
	padding: 0;

	background-color: rgb(0, 185, 0);
	font-size: 24px;
}
.DeletePostButton {
	width: 54px;
	height: 54px;
	background-color: rgb(173, 0, 0);
	padding: 0;

	transition: all 0.5s ease;
}

.DeletePostButton:hover {
	background-color: red;
}

.DeletePostButtonFocused {
	outline: 4px auto -webkit-focus-ring-color;
	background-color: red;
	animation: shake 0.5s infinite;
}
.newPostDialog {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;

	border: none;
}
.newPostFieldset {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 4px;
	column-gap: 12px;

	background-color: rgb(26, 26, 26);

	border: 2px solid white;
	border-radius: 12px;

	padding: 18px;

	width: 25dvw;
	height: 25dvh;
}
.newPostFieldset input {
	grid-column: span 2;
	width: 50%;
	height: 24px;
	justify-self: left;
}
.newPostFieldset textarea {
	grid-column: span 2;
	width: 80%;
	height: 100%;
	margin-top: -12px;
	justify-self: left;
}
.newPostFieldset button {
	margin-top: 12px;
	height: 60%;
}
.confirmationButton {
	background-color: rgb(0, 182, 0);
}
.cancelationButton {
	background-color: red;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}
