.todoList {
	list-style-type: none;
	text-align: left;
	padding: 0;
}
.TodosHeader {
	display: flex;
	width: fit-content;
	gap: 12px;
	margin: auto;
}

.todoItem {
	display: flex;
	align-items: center;
	margin: 10px 0;
	background-color: black;
	border-radius: 20px;
	padding: 5px 10px;
	transition: all 200ms;
}

.todoItem:hover {
	background-color: rgb(56, 56, 56);
	cursor: pointer;
}

.todoItem h2 {
	font-size: 1rem;
	margin-left: 20px;
}

.todoItem p {
	font-size: 0.8rem;
	margin-left: 10px;
	color: rgb(175, 175, 175);
	min-width: 60px;
}
